<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Placement Cell JGEC</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="static/css/stylebase.css">
        <link rel="stylesheet" href="static/css/stylebasee.css">
        <link rel="stylesheet" href="static/bootstrap/css/sb-admin.css">
        <link rel="stylesheet" href="static/bootstrap/css/sb-admin.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="static/imgs/jgeclogo.jpg" type="image/gif" sizes="16x16">
    </head>
    <body>
        <table>
            <caption>Job/Intern Openings</caption>
            <thead>
              <tr>
                  {% for fr in firstrow %}
                <th scope="col">{{fr}}</th>
                {% endfor %}
               
              </tr>
            </thead>
            <tbody>
                {% for s in sheets_data %}
                    <tr>
                      
                        <td data-label="COMPANY">{{s['COMPANY']}}</td>
                        <td data-label="ELIGIBILITY">{{s['ELIGIBILITY']}}</td>
                        <td data-label="MALE | FEMALE">{{s['MALE | FEMALE']}}</td>
                        <td data-label="HIRING MONTHS">{{s['HIRING MONTHS']}}</td>
                        <td data-label="TYPE">{{s['TYPE']}}</td>
                        <td data-label="LINKS"><a target="_blank" href="{{s['LINKS']}}">Career Page</a></td>
                      
                    </tr>
                {% endfor %}
              
            </tbody>
          </table>


          <div class="footer-social-links">
            <a href="https://www.facebook.com/Jgecplacement/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            
            
            <a href="https://www.linkedin.com/company/jgecplacementcell/" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/amanjha8100" title="Dribbble" target="_blank"><i class="fa fa-github"></i></a>
          </div>


           <div class="made-with-love">
            An initiative by
            JGEC,Batch 23
          </div>
    </body>
</html>