{% extends "base.html" %}
{% block content %}
    <table>
        <caption>Internships</caption>
        <thead>
          <tr>
              {% for fr in firstrow %}
            <th scope="col">{{fr}}</th>
            {% endfor %}
            
          </tr>
        </thead>
        <tbody>
            {% for s in sheets_data %}
                <tr>
                  
                    <td data-label="COMPANY">{{s['COMPANY']}}</td>
                    <td data-label="ELIGIBILITY">{{s['ELIGIBILITY']}}</td>
                    <td data-label="MALE | FEMALE">{{s['MALE | FEMALE']}}</td>
                    <td data-label="TIMELINE">{{s['TIMELINE']}}</td>
                    <td data-label="LINKS"><a target="_blank" href="{{s['LINKS']}}">Career Page</a></td>
                  
                </tr>
            {% endfor %}
          
        </tbody>
      </table>

{% endblock %}
    